.dsct-card-car-details {
    border: 1px solid var(--dsct-color-blue);
    border-radius: 10px; 
    min-width: 280px;
    max-width: 746px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.dsct-card-car-details img {
    width: 260px;
    height: 195px;
}

.dsct-card-car-details p {
   color: var(--dsct-color-greydark); 
   font-weight: 700;
   font-size: 16px;
   margin: 10px;
}